<p id="notice"><%= notice %></p>

<h1>Listing Tidings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tidings.each do |tiding| %>
      <tr>
        <td><%= tiding.title %></td>
        <td><%= tiding.description %></td>
        <td><%= image_tag tiding.image_url.small.url %></td>
        <td><%= link_to 'Show', tiding %></td>
        <td><%= link_to 'Edit', edit_tiding_path(tiding) %></td>
        <td><%= link_to 'Destroy', tiding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tiding', new_tiding_path %>
