<p id="notice">

<p>
  <strong>Наименование:</strong>
  <%= @manufacturer.title %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @manufacturer.description %>
</p>

<p>
  <strong>Страна:</strong>
  <%= @manufacturer.country %>
</p>

<p>
  <strong>Город:</strong>
  <%= @manufacturer.city %>
</p>

<%= link_to 'Редактировать', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Назад', manufacturers_path %>
